body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

a {
    color: #9ba1f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.form-container textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-container select {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
}

button.btn-small {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #9ba1f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-small:hover {
    background-color: #0056b3;
}

/* Table Styles */
.table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.action {
    width: 18%;
}

/* Audio Styles */
.audio-player {
    margin-top: 10px;
}

.audio-player audio {
    width: 100%;
}

.audio-player audio {
    width: 300px;
}

.btn-primary {
    background-color: #9ba1f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
