<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech Converter</title>
</head>
<body>
    <div class="container">
        <h1>Text to Speech Converter</h1>

        <a href="{{ url_for('history') }}">Conversion History</a>
        <a href="{{ url_for('logout') }}"> | Logout Acc</a>
        <p></p>
        <div class="form-container">
            <form action="/convert" method="POST">
                <textarea name="text" rows="4" cols="50" placeholder="Enter text..."></textarea><br>
                <label for="voice-select">Select Voice:</label>
                <select name="voice" id="voice-select">
                    <option value="en">English</option>
                    <option value="id">Indonesia</option>
                    <option value="ar">Arabic</option>
                    <option value="hi">India</option>
                    <option value="ja">Japan</option>
                    <option value="zh-CN">China</option>
                    <option value="th">Thai</option>
                </select><br>
                <button type="submit" class="btn-primary">Convert to Speech</button>
            </form>
        </div>
        <br>
        {% if audio_path %}
        <audio controls>
            <source src="{{ audio_path }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    {% endif %}
    <h5>&copy; 2024. Created by Agatamilia. All rights reserved.</h5>
    <a href="https://www.instagram.com/agatamilia" target="_blank">
        <img src="{{ url_for('static', filename='images/instagram_icon.png') }}" alt="Instagram" width="24">
    </a>
    <a href="mailto:amiliaagataa@gmail.com" target="_blank">
        <img src="{{ url_for('static', filename='images/email_icon.png') }}" alt="Email" width="24">
    </a>
    </div>
    <script>
        // Tangkap elemen formulir
        const form = document.getElementById('conversion-form');

        // Tambahkan event listener untuk menangani submit formulir
        form.addEventListener('submit', async function(event) {
            event.preventDefault(); // Mencegah pengiriman formulir secara default

            // Kirim permintaan AJAX menggunakan fetch
            const response = await fetch('/convert', {
                method: 'POST',
                body: new FormData(form), // Kirim data formulir
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // Tandai sebagai permintaan AJAX
                }
            });

            // Ambil data JSON dari respons
            const data = await response.json();

            // Tampilkan pesan status dari respons JSON di dalam elemen status-message
            document.getElementById('status-message').textContent = `${data.status}: ${data.message}`;
        });
    </script>

</body>
</html>
