<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <div class="login-container">
    <h1>Logout</h1>
    <diV>
    <p>You have been successfully logged out.</p>
    </diV>
    <p>Click <a href="{{ url_for('login') }}">here</a> to login again.</p>
    </div>
</body>
</html>
